<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de prueba GET</title>
</head>
<body>
<h1>Formulario de prueba GET</h1>
<form method="get" action="/view-form/get">
    <p>
        <label for="nombre">
            Nombre:
        </label>
        <input type="text" name="nombre" id="nombre" value="José Luis">
    </p>
    <p><label><input type="radio" value="opcion-radio-1" name="opcionradio" checked> Opción radio 1</label></p>
    <p><label><input type="radio" value="opcion-radio-2" name="opcionradio"> Opción radio 2</label></p>
    <p><label><input type="radio" value="opcion-radio-3" name="opcionradio"> Opción radio 3</label></p>
    <p><label><input type="radio" value="opcion-radio-4" name="opcionradio"> Opción radio 4</label></p>


    <p><label><input type="checkbox" value="opcion-check-1" name="opcioncheck[]"> Opción check 1</label></p>
    <p><label><input type="checkbox" value="opcion-check-2" name="opcioncheck[]" checked> Opción check 2</label></p>
    <p><label><input type="checkbox" value="opcion-check-3" name="opcioncheck[]"> Opción check 3</label></p>
    <p><label><input type="checkbox" value="opcion-check-4" name="opcioncheck[]" checked> Opción check 4</label></p>
    <p>
        <button>Enviar</button>
    </p>
</form>

</body>
</html>